.TotalBalance {
    width: 48%;
    height: 200px;
    text-align: center;
    background-color: #C9C9C9;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
}